[submodule "c7-jenkins-slave-swarm/ansible"]
	path = c7-jenkins-slave-swarm/ansible
	url = https://github.com/looztra/ansible-for-dockerfiles.git
[submodule "c7-jenkins-master/ansible"]
	path = c7-jenkins-master/ansible
	url = https://github.com/looztra/ansible-for-dockerfiles.git
[submodule "c6-docker-client/ansible"]
	path = c6-docker-client/ansible
	url = https://github.com/looztra/ansible-for-dockerfiles.git
[submodule "c7-docker-client/ansible"]
	path = c7-docker-client/ansible
	url = https://github.com/looztra/ansible-for-dockerfiles.git
[submodule "c7-jenkins-slave/ansible"]
	path = c7-jenkins-slave/ansible
	url = https://github.com/looztra/ansible-for-dockerfiles.git
